<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='form.css') }}">
    <title>Edit Page</title>
</head>
<body>
    <div id="container">
        <div>
            <h1>Edit User</h1>
            <a href="/users">Home</a>
        </div>
        <form action="" method="post">
            
        </form>
    </div>
</body>
</html>