* {
    padding: 0px;
    margin: 0px;
}

#container {
    width: fit-content;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    margin: 150px 0px 0px 350px;
}

.box {
    flex: 1;
    margin-right: 25px;
}