<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>My Table</title>
</head>
<body>
    <div id="container">
        <table>
            <tr class = "topRow">
                <th class = 'topCol'>First Name</th>
                <th class = 'topCol'>Last Name</th>
                <th class = 'topCol'>Full Name</th>
            </tr>
            {% for idx in users: %}
                <tr class="row">
                {% for key in idx: %}
                    <td class="col">{{ idx[key] }}</td>
                {% endfor %}
                </tr>
            {% endfor %}
        </table>
    </div>
</body>
</html>