<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Allocations</title>
</head>
<body>
    <div id="container">
        <div class="bar">
            <h1>Allocations</h1>
            <a href="/dashboard">Dashboard</a>
            <a href="/logout">Logout</a>
        </div>
        <form action="/accounts/add" method="post">
            <div>
                <label for="account_name">Account Name:</label>
                <input type="text" name='account_name'>
            </div>
            <div>
                <label for="account_balance">Balance:</label>
                <input type="number" step="any" name='account_balance'>
            </div>
            <div>
                <label for="account_date">Date</label>
                <input type="date" name="account_date">
            </div>
            <button>Add</button>
        </form>
        <!-- <div>
            <label>Powered by:</label>
            <img src="{{ url_for('static', filename='img/white_logo_color_background.jpg') }}">
        </div> -->
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <p>{{message}}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>
</body>
</html>