<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>Take Survey</title>
</head>
<body>
    <div id="container">
        <h1>Dojo Survey</h1>
        <form action="/process" method='post'>
        <label for="name">Name:</label>
        <input type="select" name='name' placeholder="Enter Your Name">
        <label for="location">Dojo Location:</label>
        <select name="dojo_location" id="">
            <option value="Chicago">Chicago</option>
            <option value="Seattle">Seattle</option>
            <option value="San Jose">San Jose</option>
            <option value="Online">Online</option>
        </select>
        <label for="language">Favorite Language</label>
        <select name="favorite_language" id="">
            <option value="HTML">HTML</option>
            <option value="CSS">CSS</option>
            <option value="Java Script">Java Script</option>
            <option value="Python">Python</option>
            <option value="C#">C#</option>
        </select>
        <label for="Comments">Comments:</label>
        <textarea name="Comments" id="" cols="30" rows="10"></textarea>
        <button type="submit">Submit</button>
        </form>
    </div>
</body>
</html>