<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>Create</title>
</head>
<body>
    <div id="container">
        <div>
            <h1>Add a New User</h1>
            <form action="/create_user" method="POST">
                <div class="">
                    <label for="fname">First Name:</label>
                </div>
                <div class="box">
                    <input type="text" name="fname">
                </div>
                <div class="">
                    <label for="lname">Last Name:</label>
                </div>
                <div class="box">
                    <input type="text" name="lname">
                </div>
                <div class="">
                    <label for="email" >Email:</label>
                </div>
                <div class="box">
                    <input type="text" name="email">
                </div>
                <input type="submit" value="Create">
            </form> 
        </div>
    </div>
</body>
</html>