<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>Read (All)</title>
</head>
<body>
    <div id="container">
        <h1>All Users</h1>
        <table>
            <tr class="topRow">
                <th class="topCol">ID</th>
                <th class="topCol">Full Name</th>
                <th class="topCol">Email</th>
                <th class="topCol">Created At</th>
            </tr>
            {% for row in users %}
                <tr class="row">
                    <td class="col">{{ row.id }}</td>
                    <td class="col">{{ row.fullname() }}</td>
                    <td class="col">{{ row.email }}</td>
                    <td class="col">{{ row.created_at }}</td>
                </tr>
            {% endfor %}
        </table>
        <a href="/new" >Add a New User</a>
    </div>
</body>
</html>