<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='form.css') }}">
    <title>Recipe</title>
</head>
<body>
    <div id="container">
        <div class="bar">
            <h1>Add New Recipe</h1>
            <a href="/dashboard">Dashboard</a>
            <a href="/logout">Logout</a>
        </div>
        <form action="/dashboard" method="post">
            <div class="left">
                <div>
                    <label for="name">Name:</label>
                    <input type="text" name='name'>
                </div>
                <div>
                    <label for="description">Description:</label>
                    <input type="text" name='description'>
                </div>
                <div>
                    <label for="instruction">Instruction:</label>
                    <input type="text" name='instruction'>
                </div>
            </div>
            <div class="right">
                <div>
                    <label for="created_at"></label>
                    <input type="date" name="created_at">
                </div>
                <div>
                    <label for="within">Under 30 Minutes?</label>
                    <input type="radio" name="yes">
                    <label for="yes">Yes<label>
                    <input type="radio" name="no">
                    <label for="no">No<label>
                </div>
            </div>
            <button>Create</button>
        </form>
    </div>
</body>
</html>