<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('staitc', filename='style.css') }}">
    <title>Table and Form</title>
</head>
<body>
    <div id="container">
        <div class="box">
            <h1>All Examples</h1>
        <table>
            <tr class="top">
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            <tr class="row1">
                <td class="col"></td>
                <td class="col"></td>
                <td class="col"></td>
                <td class="col"></td>
            </tr>
        </table>
        </div>
        <div class="box">
            <h1>Add Examples</h1>
            <form action="" method="post">
            
            </form>
        </div>
    </div>
</body>
</html>