* {
    padding: 0px;
    margin: 0px;
}

#container {
    width: fit-content;
    height: fit-content;
    margin: 100px 0px 0px 500px;
}

.topRow {
    display: flex;
    background-color: darkslategrey;
    width: fit-content;
    height: fit-content;
    justify-content: space-between;
    border-radius: 5px;
}

.topCol {
    display: flex;
    color: goldenrod;
    text-align: center;
    font-family: cursive;
    flex: 1;
    height: 30px;
    width: 130px;
    margin: 10px 0px 10px 55px;
    font-weight: lighter;
}

.row {
    display: flex;
    background-color: goldenrod;
    width: fit-content;
    height: fit-content;
    justify-content: space-between;
    border-radius: 10px;
}

.col {
    display: flex;
    color: darkslategrey;
    text-align: center;
    font-family: cursive;
    flex: 1;
    height: 30px;
    width: 130px;
    margin: 10px 0px 10px 55px;
    font-weight: lighter;
}
}