<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Allocations</title>
</head>
<body>
    <div id="container">
        <div class="bar">
            <h1>Allocations</h1>
            <a href="/dashboard">Dashboard</a>
            <a href="/logout">Logout</a>
        </div>
        <form action="/dashboard" method="post">
            <div>
                <label for="name">Account Name:</label>
                <input type="text" name='name'>
            </div>
            <div>
                <label for="type">Account Type:</label>
                <select name="type">
                    <option value="check">Checking</option>
                    <option value="save">Savings</option>
                </select>
            </div>
            <div>
                <label for="balance">Balance:</label>
                <input type="number" name='balance'>
            </div>
            <button>Add</button>
        </form>
        <div>
            <label>Powered by:</label>
            <img src="{{ url_for('static', filename='img/white_logo_color_background.jpg') }}">
        </div>
    </div>
</body>
</html>