<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Allocations</title>
</head>
<body>
    <div id="container">
        <h1>Allocations</h1>
        <div class="bar">
            <h2>Welcome, {{ user.first_name }}</h2>
            <a href="/accounts/new">Add Account</a>
            <a href="/logout">Logout</a>
        </div>
        <h3>Accounts:</h3>
            {% for account in user.accounts: %}
                <div>
                    <a href="/display/{{ account.id }}">{{ account.name }}</a>
                    <a href="/accounts/edit/{{ account.id }}">edit</a>
                    <a href="/accounts/delete/{{ account.id }}">delete</a>
                </div>
            {% endfor %}
        <!-- <div>
            <label>Powered by:</label>
            <img src="{{ url_for('static', filename='img/white_logo_color_background.jpg') }}">
        </div> -->
    </div>
</body>
</html>