<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Allocations</title>
</head>
<body>
    <div id="container">
        <div class="bar">
            <h1>Allocations</h1>
            <a href="/dashboard">Dashboard</a>
            <a href="/logout">Logout</a>
        </div>
        <h3>{{ user.first_name }}'s Account:</h3>
        <h3><strong>{{ account.name }}</strong></h3>
        <a href="/budgets/new/{{ account.id }}">Add Transaction</a>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>In/Out</th>
                    <th>Date</th>
                    <th>{{ account.balance }}</th>
                </tr>
            </thead>
            <tbody>
                {% for input in account.budgets: %}
                <tr>
                    <td>{{ input.name }}</td>
                    <td>{{ input.transaction }}</td>
                    <td>{{ input.date }}</td>
                    <td>{{ input.amount }}</td>
                    <td><a href="/budgets/edit/{{ account.id }}/{{ input.name }}">edit</a></td>
                    <td><a href="/budgets/delete/{{ input.id }}">delete</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <!-- <div>
            <label>Powered by:</label>
            <img src="{{ url_for('static', filename='img/white_logo_color_background.jpg') }}">
        </div> -->
    </div>
</body>
</html>