<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipes</title>
</head>
<body>
    <div id="container">
        <div class="bar">
            <h1>Welcome, {{ user.first_name }}</h1>
            <a href="/recipes/new">Create</a>
            <a href="/logout">Logout</a>
        </div>
        <h3>These are the recipes</h3>
        <table>
            <thead>
                <tr class="topRow">
                    <th class='topCol'>Name</th>
                    <th class='topCol'>Under 30 Minutes?</th>
                    <th class='topCol'>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for recipe in recipes: %}
                <tr class="row1">
                    <td class="col">{{ recipe.name }}</td>
                    <td class="col">{{ recipe.within }}</td>
                    <td class="col">
                        <a href="/recipes/{{ recipe.id }}">view instructions</a>
                        {% if recipe.user_id == user.id %}
                            <a href="/recipes/edit/{{ recipe.id }}">edit</a>
                            <a href="/recipes/delete/{{ recipe.id }}">delete</a>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>