<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipes</title>
</head>
<body>
    <div id="container">
            <div class="bar">
                <h1>Welcome, {{ user_id.first_name }}!</h1>
                <a href="/dashboard">Dashboard</a>
                <a href="/logout">Logout</a>
            </div>
            <h1>{{ recipe.name }}</h1>
            <div class="box">
                <p>Description: {{ recipe.description }}</p>
                <p>Under 30 minutes: {{ recipe.within }}</p>
                <p>Instructions: {{ recipe.instruction }}</p>
                <p>Date Made: {{ recipe.created_at }}</p>
            </div>
    </div>
</body>
</html>