<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe</title>
</head>
<body>
    <div id="container">
        <div class="bar">
            <h1>Edit Recipe</h1>
            <a href="/dashboard">Dashboard</a>
            <a href="/logout">Logout</a>
        </div>
        <form action="/recipes/update" method="post">
            <div class="left">
                <div>
                    <label for="name">Name:</label>
                    <input type="text" name='name' value="{{ recipe.name }}">
                </div>
                <div>
                    <label for="description">Description:</label>
                    <textarea name='description' cols="30" rows="5">{{ recipe.description }}</textarea>
                </div>
                <div>
                    <label for="instruction">Instruction:</label>
                    <textarea name='description' cols="30" rows="5">{{ recipe.instruction }}</textarea>
                </div>
            </div>
            <div class="right">
                <div>
                    <label for="date_made"></label>
                    <input type="date" name="date_made" value="{{ recipe.date_made }}">
                </div>
                <div>
                    <label for="within">Under 30 Minutes?</label>
                    <input type="radio" name="yes" checked>
                    <label for="yes">Yes<label>
                    <input type="radio" name="no">
                    <label for="no">No<label>
                </div>
            </div>
            <button>Update</button>
        </form>
    </div>
</body>
</html>