<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='table.css') }}">
    <title>Start Page</title>
</head>
<body>
    <div id="container">
        <h1>All Examples</h1>
        <table>
            <thead>
                <tr class="topRow">
                    <th class='topCol'></th>
                    <th class='topCol'></th>
                    <th class='topCol'></th>
                    <th class='topCol'></th>
                </tr>
            </thead>
            <tbody>
                {% for row in tables: %}
                <tr class="row1">
                    <td class="col"></td>
                    <td class="col"></td>
                    <td class="col"></td>
                    <td class="col"></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>