* {
    padding: 0px;
    margin: 0px;
}

#container {
    width: fit-content;
    height: fit-content;
}

.top {
    background-color: darkgrey;
}

.top > th {
    width: fit-content;
    font-weight: bolder;
}

.row {
    width: fit-content;
    background-color: lightgrey;
}

.col {
    width: fit-content;
    border-left: 2px solid black;
    border-right: 2px solid black;
}