* {
    padding: 0px;
    margin: 0px;
}

#container {
    width: fit-content;
    height: 900px;
    margin-left: 400px;
}

#banner {
    width: 800px;
    height: 100px;
    margin-left: 400px;
}

.row1 {
    width: fit-content;
    display: flex;
    height: 100px;
    margin-right: 100px;
    background-color: black;


}

.row2 {
    width: fit-content;
    display: flex;
    height: 100px;
    margin-right: 100px;
    background-color: red;
}

.column1 {
    width: 100px;
    height: 100px;
    margin-right: 100px;
    background-color: red;
}

.column2 {
    width: 100px;
    height: 100px;
    margin-right: 100px;
    background-color: black;
}